@media (max-width:1600px) {
    .slider__container {
        width: 550px;
        height: 550px;
    }

    .mySlide {
        right: 10%;
    }


    .hero {
        &__left {
            left: 15%;
            top: 70%;
            width: 150px;
        }

        &__title {
            font-size: 48px;
        }

        &__right {
            left: 90%;
            width: 150px;
        }

        &__slider {
            margin-top: 150px;
        }

    }

}

@media (max-width:1400px) {
    .slider__container {
        width: 480px;
        height: 480px;
    }

    .mySlide {
        right: 10%;
    }


    .hero {
        &__left {
            left: 15%;
            top: 70%;
            width: 130px;
        }

        &__title {
            font-size: 40px;
        }

        &__descr {
            font-size: 18px;
        }

        &__right {
            left: 90%;
            width: 130px;
        }

        &__slider {
            margin-top: 150px;
        }
    }

    .button {
        width: 200px;
    }

    .button-arrow {
        width: 70px;
    }

    .card {
        width: 320px;
    }

    .title {
        font-size: 35px;
    }

    .slider__container-2 {
        width: 650px;
        height: 450px;
    }
}

@media (max-width:1200px) {

    .slider__container {
        width: 400px;
        height: 400px;
    }

    .mySlide {
        right: 10%;
    }

    .header {

        &__logo {
            img {
                &:first-child {
                    width: 15px;
                }

                &:last-child {
                    height: 12px;
                }
            }
        }

        &__cart {
            width: 20px;
        }

        &__phone {
            font-size: 14px;
        }

        &__list {
            a {
                font-size: 14px;
            }
        }
    }

    .hero {
        &__descr {
            margin-top: 15px;
            font-size: 16px;
        }

        &__title {
            font-size: 36px;
        }

        &__right {
            left: 80%;
        }
    }

    .button {
        width: 200px;
        height: 60px;
    }

    .button-arrow {
        width: 60px;
    }

    .card {
        width: 320px;

        &__image {
            width: 90%;
        }

        &__title {
            font-size: 18px;
        }
    }

    .title {
        font-size: 32px;
    }


    .slider__container-2 {
        width: 500px;
    }

    .team {
        &__dots {
            top: 70%;

            span {
                height: 5px;
            }
        }

        &__block {
            margin-left: 75px;
        }

        &__block-text {
            font-size: 16px;
            width: 250px;
        }

        &__block-title {
            font-size: 22px;
        }
    }

    .next,
    .prev {
        top: 30%;

        img {
            width: 20px;
            height: 10px;
        }
    }

    .footer {

        &__confidential,
        &__public,
        &__copyright {
            font-size: 14px;
        }

        &__nav {
            margin-right: 0;
        }

        &__header {

            li {
                margin-right: 20px;

                a {
                    font-size: 14px;
                }
            }

        }

        &__categories {
            li {
                margin-right: 0;

                a {
                    font-size: 12px;
                }
            }

        }
    }

    @keyframes slide {
        from {
            visibility: visible;
            opacity: .4;
        }

        to {
            opacity: 1;
        }
    }
}

@media (max-width:993px) {

    .slider__container {
        width: 320px;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mySlide {
        width: 320px;

        img {
            width: 320px;
        }
    }

    .hero {

        &__slider {
            margin-top: 200px;
        }

        &__wrapper {}

        &__block {}

        &__title {
            font-size: 28px;
            line-height: 45px;
        }

        &__descr {
            font-size: 14px;
            width: 100%;
        }

        &__right {
            width: 95px;
            left: 80%;
        }

        &__left {
            width: 100px;
        }
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .card {
        &__title {
            font-size: 16px;
        }

        &__image {
            width: 95%;

            &::after {
                top: 35%;
            }
        }
    }

    .adv {
        &__cards {
            width: 90%;
            margin: 50px auto 0;
        }

        &__card {
            width: 150px;
        }

        &__card-image {
            margin-top: 30px;

            img {
                display: block;
                margin: 0 auto;
            }

        }

        &__card-title {
            font-size: 20px;
            text-align: center;
        }

        &__card-descr {
            font-size: 14px;
            text-align: center;
        }
    }


    .team {
        &__slider {
            width: 95%;
            display: block;
            margin: 0 auto;
        }

        &__dots {
            top: 100%;
        }

        &__block {
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;
        }
    }

    .next,
    .prev {
        background: rgba(255, 255, 255, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        transition: all .5s ease;
        top: 45%;

        img {
            transition: all .5s ease;
        }
    }

    .next {
        border-radius: 5px 0 0 5px;
        right: 0;
    }

    .prev {
        left: 0;
        border-radius: 0 5px 5px 0;
    }

    .slider__container-2 {
        width: 100%;
    }
}

@media (max-width:826px) {


    .header {
        padding: 25px 40px;

        &__wrapper {}

        &__logo {
            img {
                &:first-child {
                    width: 15px;
                }

                &:last-child {
                    height: 10px;
                }
            }
        }

        &__list {
            display: none;
        }

        &__phone {
            display: none;
        }


        &__cart {
            display: none;
        }

        &__burger {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 100px;

            span {
                width: 30px;
                height: 4px;
                margin-top: 3px;
                background: black;
                border-radius: 5px;
            }
        }
    }



    .slider__container {
        width: 400px;
        height: 600px;
    }

    .mySlide {
        width: 450px;

        img {
            width: 100%;
        }
    }

    .hero {
        padding-top: 200px;

        &__brown {
            display: none;
        }

        &__slider {
            margin-left: 50px;
        }


        &__left {
            left: -30px;
            width: 150px;

        }

        &__right {
            width: 150px;
            left: 90%;
        }

        &__block {
            width: 80%;
            margin: 0;
        }

        &__title {
            text-align: center;
            width: 100%;
            font-size: 40px;
        }

        &__buttons {
            justify-content: center;
            margin: 50px auto;
        }

        &__descr {
            text-align: center;
        }

        &__wrapper {
            display: block;
        }

        &__block {
            margin: 0 auto;
        }
    }

    .new {
        &__cards {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .slider__container-2 {
        width: 450px;
        margin: 30px auto;
    }

    .mySlide-2 {
        img {
            width: 450px;
        }
    }



    .prev,
    .next {
        top: 25%;
        width: 35px;
        height: 35px;

        img {
            width: 100%;
        }
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;

        &__logo {
            img {
                &:first-child {
                    height: 20px;
                }

                &:last-child {
                    width: 75px;
                }
            }
        }

        &__nav {
            margin-right: 0;
        }

        &__header {
            li {
                margin-right: 10px;
                width: max-content;
            }

            a {
                font-size: 10px;
            }
        }

        &__categories {
            li {
                margin-right: 0;
            }
        }

        &__rules {
            a {
                font-size: 12px;
            }

        }

        &__info {
            font-size: 14px;
        }
    }

}

@media (max-width:578px) {

    .slider__container {
        width: 250px;
        height: 350px;
        margin: 0 auto;
    }

    .mySlide {
        width: 250px;
        height: 100%;
        transform: none;
        margin: 0 auto;
    }

    .header__burger {
        span {
            width: 30px;
            height: 4px;
        }
    }

    .header__burger-list {
        width: 75%;
    }

    .hero {
        &__block {
            margin: 0 auto;
        }

        &__slider {
            margin-top: 0px;
            margin: 0 auto;
        }

        &__title {
            font-size: 26px;
            line-height: 35px;
        }

        &__right {
            display: none;
        }

        &__buttons {
            width: 100%;
        }

        &__left {
            display: none;
        }

    }

    .card {
        margin-top: 30px;

        &__image {
            width: 80%;
        }
    }

    .button {
        width: 120px;
        font-size: 12px;
    }

    .button-arrow {
        width: 60px;
    }

    .adv {
        &__cards {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

    }

    .slider__container-2 {
        width: 300px;
        height: 300px;
    }

    .next,
    .prev {
        top: 24%;
        width: 35px;
        height: 35px;
    }

    .team {
        &__block {
            margin-top: 10px;
        }
    }

    .footer {
        &__wrapper {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        &__categories {
            display: none;
        }

        &__politics {
            order: 3;
            margin-top: 20px;
            align-items: center;
        }

        &__nav {
            margin-bottom: 20px;
        }

        &__info {
            align-items: center;
        }

        &__socials {
            margin-top: 10px;
        }

        &__visa {
            margin-top: 10px;
        }

        &__email {
            margin-top: 10px;
        }
    }
}