@keyframes slide {
    from {
        transform: translate3d(35%, 0, 0);
        visibility: visible;
        opacity: .4;
    }

    to {
        transform: translateX(25%);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translate3d(-25%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes down {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}