.button {
    width: 250px;
    height: 70px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    background: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;

    &:hover {
        background: #509498;
        transition: all .5s ease;
    }
}

.button-arrow {
    width: 70px;
    height: 70px;
    background: #6E9C9F1A;

    img {
        transition: all .5s ease;
    }

    &:hover {
        transition: all .5s ease;
        background: #6E9C9F;

        img {
            filter: brightness(5);
            transition: all .5s ease;
        }

    }
}

.button-transparent {
    background: transparent;
    color: $accent;
    border: 1px solid $accent;
    transition: all .5s ease;

    &:hover {
        background: $accent;
        transition: all .5s ease;
        color: white;
    }
}