.button {
    width: 250px;
    height: 70px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    background: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    cursor: pointer;

    &:hover {
        background: #509498;
        transition: all .5s ease;
    }
}

.button-arrow {
    width: 70px;
    height: 70px;
    background: #6E9C9F1A;

    img {
        transition: all .5s ease;
    }

    &:hover {
        transition: all .5s ease;
        background: #6E9C9F;

        img {
            filter: brightness(5);
            transition: all .5s ease;
        }

    }
}

.button-transparent {
    background: transparent;
    color: $accent;
    border: 1px solid $accent;
    transition: all .5s ease;

    &:hover {
        background: $accent;
        transition: all .5s ease;
        color: white;
    }
}

.button-categories {
    width: 200px;
    height: 60px;
    background: white;
    color: black;
    border: 1px solid #000000;
    margin-right: 15px;
    transition: all .5s ease;
    position: relative;
    z-index: 100;

    &::before {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s ease;
        background: black;
        z-index: -1;
    }

    &:hover {
        color: white;
    }

    &:hover::before {
        width: 100%;
        transition: all .5s ease;
    }

    &:last-child {
        margin: 0;
    }
}

.active-categories {
    background: black;
    color: white;
}

.button-color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #927876;
    margin-right: 15px;
    opacity: 0.95;

    &:last-child {
        margin: 0;
    }
}

.color-active {
    border: 1px solid #000;
}