.header {
    padding-top: 50px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 100%;
    transition: all .5s ease;


    &__logo {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        text-align: left;

        img {
            &:nth-child(2) {
                margin-left: 15px;
            }
        }
    }

    &__list {
        display: flex;
        gap: 45px;

        a {
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            transition: all .3s ease;

            &:hover {
                transition: all .3s ease;
                color: $accent;
                font-weight: 900;
            }
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            transition: all .5s ease;
        }

        a {
            width: 20px;
            padding-left: 3px;
            height: 20px;
            transition: all .5s ease;
        }

        a:hover {
            background: #6E9C9F;
            transition: all .5s ease;

            img {
                filter: brightness(5);
                transition: all .5s ease;
            }


        }

    }
}

.active {
    font-weight: 700 !important;
    color: $accent !important;
}

.scrolled {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1000;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}