@media (max-width:1400px) {
    .product {
        &__block {
            justify-content: center;
        }
    }
}


@media (max-width:1200px) {
    .product__count input {
        width: 60px;
        height: 60px;
    }

    .product__settings {
        width: 25%;
    }
}

@media (max-width:1100px) {
    .product {
        &__image {
            width: 420px;
        }

        &__colors {
            width: 350px;
        }

        &__sizes {
            font-size: 20px;
            width: 350px;
            justify-content: start;

            button {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width:993px) {

    .product__breadcrumps,
    .shop__breadcrumbs {
        justify-content: center;
    }

    .card {
        margin-top: 30px;
        margin-right: 0;

        &__title {
            font-size: 20px;
        }

        &__image {
            width: 75%;
        }

        &__prices {
            font-size: 18px;
        }
    }

    .product {
        &__image {
            margin-right: 0;
        }

        &__block {
            justify-content: center;
            align-items: center;
        }

        &__sizes {
            justify-content: center;
        }

        &__colors {
            justify-content: center;

        }

        &__settings {
            width: 50%;
            margin: 50px auto 0;
            align-items: center;
            text-align: center;
        }
    }

    .same {
        &__cards {
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width:480px) {
    .product {
        &__breadcrumps {
            display: none;
        }

        &__block {
            margin-top: 50px;
        }

        &__price,
        &__oldprice {
            font-size: 26px;
        }

        &__colors,
        &__sizes {
            width: 300px;
        }

        &__size {
            font-size: 18px;
        }
    }
}